.setting_ul{
    background-color: rgb(247, 134, 134);
    width:100px ;
    height: 91.8vh;
    position: fixed;
}
.setting_ul>li{
    padding-top: 5vw;
    list-style-type: none;
    margin-left: 10px;
}
.bilgiler{
    margin-left:10vw ;
    margin-top: 10px;
}
@media (max-width:1200px){
    .bilgiler{
        margin-left: 125px;
    }
}